/* Generic Styles */
* {
  margin:0;
  padding:0;
}
body {
  font-family: "Open Sans", Helvetica, Arial;
}
h1 {
  font-size:56px;
}
.container{
  width: 980px;
  margin: 0 auto;
}
.clear {
  clear:both;
}

/* Index */
#page-title {
  padding: 0 0 12px 0;
}
#page-title h1 {
  display:inline-block;
  margin: 0 25px 0 0;
}
#page-title input{
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size:24px;
  padding: 4px;
}

#habits {
  background-color: #F0F0D8;
  padding: 20px 0;
}
#habits li {
  padding: 6px;
  margin: 0 4px;
  float:left;
  list-style-type: none;
  background-color: #fcfcfc;
  border-radius: 4px;
  cursor: pointer;
}
#habits li a{
  text-decoration: none;
}
#habits li:hover a{
  text-decoration: underline;
}

/* Details */
#habit-details {
  background-color: #D8D8A8;
}
th {
  padding-bottom: 8px;
}

#productive-days {
  display: block;
  /*width: 670px;*/
  margin: 15px auto;
}
#productive-days h3{
  display: block;
  margin: 0 32px;
}
#productive-days svg{
  height: 300px;
  width: 670px;
  min-width: 100px;
  min-height: 100px;
/*
  margin: 10px;
  Minimum height and width is a good idea to prevent negative SVG dimensions...
  For example width should be =< margin.left + margin.right + 1,
  of course 1 pixel for the entire chart would not be very useful, BUT should not have errors
*/
}