/* Generic Styles */
* {
  margin:0;
  padding:0;
}
body {
  font-family: "Open Sans", Helvetica, Arial;
}
h1 {
  font-size:50px;
}
h1 small {
  font-size: 65%;
}
h2 {
 font-size:40px; 
}
h3 {
  font-size:24px;
}
.container{
  width: 980px;
  margin: 0 auto;
}
.clear {
  clear:both;
}

/* Index */
#page-title {
  padding: 0 0 12px 0;
}
#page-title h1 {
  display:inline-block;
  margin: 0 25px 0 0;
  color:#383838;
}
#page-title input{
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size:20px;
  padding: 4px;
}

#habits {
  background-color: #F0F0D8;
  padding: 20px 0;
}
#habits li {
  margin: 0 4px;
  float:left;
  list-style-type: none;
  cursor: pointer;
}
#habits li a{
  padding: 6px;
  background-color: #fcfcfc;
  border-radius: 4px;
  text-decoration: none;
}
#habits li:hover a{
  text-decoration: underline;
}

/* Details */
#habit-details {
  background-color: #e0e0e0;
  padding-top: 15px;
}
#habit-details table {
  background-color: #f4f4f4;
  display:block;
  margin: 20px 0;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 4px;
}
th {
  min-width: 150px;
  text-align: center;
  padding-bottom: 8px;
}
td {
  text-align: center;
}

/* Charts */
.bar-chart {
  display: block;
  /*width: 670px;*/
  margin: 35px auto;
}
.bar-chart h3{
  display: block;
  margin: 0 32px;
}
.bar-chart svg {
  height: 300px;
  width: 670px;
  min-width: 100px;
  min-height: 100px;
}
#productive-days svg{
  
}
#productive-months svg{

}

