<section id="habit-details">
  <div class="container" ng-show="habit">
    <h1>{{habit.name}} <small>[{{habit.frequencyTypeName}}]</small></h1>
    

    
    <div id="productive-days">
      <h3>Productive Days</h3>
      <svg></svg>
    </div>

    <p>{{habit.productiveDays}}</p>
    <p>Completion: {{habit.completionPercentage}}%</p>
    <p>{{habit.completed.length}}</p>
    <p>{{habit.createdAt}}</p>
    <p>Longest Streak: {{habit.longestStreak}}</p>

    <ul>
      <li ng-repeat="date in habit.completed">{{date}}</li>
    </ul>
  </div>


</section>