<section id="habit-details">
  <div class="container" ng-show="habit">
    <h2>{{habit.name}}</h2>
    
    <table>
      <thead>
        <th>Goal</th>
        <th>Completion</th>
        <th>Completed</th>
        <th>Longest Streak</th>
        <th>Started</th>
      </thead>
      <tbody>
        <tr>
          <td>{{habit.frequencyTypeName}}</td>
          <td>{{habit.completionPercentage}}%</td>
          <td>{{habit.completed.length}} times</td>
          <td>{{habit.longestStreak}}</td>
          <td>{{habit.createdAt}}</td>
        </tr>
      </tbody>
    </table>

    <div id="productive-days">
      <h3>Productive Days</h3>
      <svg></svg>
    </div>

    <p>{{habit.productiveDays}}</p>

    <ul>
      <li ng-repeat="date in habit.completed">{{date}}</li>
    </ul>
  </div>


</section>