<!doctype html>
<html lang="en" ng-app="habitGraph" ng-controller="HabitListCtrl">
<head>
  <meta charset="utf-8">
  <title>Habit Graph</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link href="lib/nvd3/src/nv.d3.css" rel="stylesheet" type="text/css">
</head>
<body>

  <section id="page-title">
  <div class="container">
    <h1>Habit Graph</h1><input type="text" placeholder="Search habits" ng-model="search"/>
  </div>
</section>

<section id="habits">
  <ul class="container">
    <li class="habit" ng-repeat="habit in habits | orderBy:predicate | filter:search">
      <a ng-href="#/habits/{{habit.name | urlencode}}">{{habit.name}}</a>
    </li>
  </ul>
  <div class="clear"></div>
</section>

  <div ng-view></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/moment.min.js"></script>

  <script src="lib/nvd3/lib/d3.v2.js"></script>
  <script src="lib/nvd3/nv.d3.js"></script>
  <!-- including all the components so I don't have to minify every time I test in development -->
  <script src="lib/nvd3/src/tooltip.js"></script>
  <script src="lib/nvd3/src/utils.js"></script>
  <script src="lib/nvd3/src/models/axis.js"></script>
  <script src="lib/nvd3/src/models/discreteBar.js"></script>
  <script src="lib/nvd3/src/models/discreteBarChart.js"></script>
</body>
</html>
